<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="https://etimg.etb2bimg.com/photo/91511316.cms" alt="" style="width: 40px;border-radius: 40%;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.disabled]="loginInfo" routerLink="login"> Login </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.disabled]="loginInfo" routerLink="register"> Register </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="showcust"> Show Customers </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="custbyid"> ShowCustById </a>
          </li>
          
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search" spellcheck="false" data-ms-editor="true">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <form class="d-flex">
          <ul class="navbar-nav me-auto">
           
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="cart"> Cart({{cartItems.length}}) </a>
            </li> -->

            <!-- [class.disabled]="!loginInfo" -->

            <li class="nav-item">
              <a class="nav-link"  [class.disabled]="!loginInfo" routerLink="logout"> Logout </a>
            </li>
            
          </ul>
        </form>
      </div>
      
    </div>
    
  </nav>
  


