
<div class="paypal-container">
    <div class="amount">Total amount to pay: ${{amount}}</div>
    <div class="info">Please do not refresh the browser while the transaction is processing</div>
    <div #paymentRef></div>
    <div class="back" (click)="cancel()">Cancel</div>
  </div>