<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <form #otpForm="ngForm" (ngSubmit)="confirmpass(otpForm.value)" novalidate>
        <div class="card p-2 text-center" id="popmsz">
          <h6>Please enter the one-time password <br> to verify your account</h6>
          <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
            <input #firstInput class="m-2 text-center form-control rounded" type="text" id="first"
              (keyup)="onKeyUp($event, secondInput)" maxlength="1" ngModel name="first" required />
            <input #secondInput class="m-2 text-center form-control rounded" type="text" id="second"
              (keyup)="onKeyUp($event, thirdInput)" maxlength="1" ngModel name="second" required />
            <input #thirdInput class="m-2 text-center form-control rounded" type="text" id="third"
              (keyup)="onKeyUp($event, fourthInput)" maxlength="1" ngModel name="third" required />
            <input #fourthInput class="m-2 text-center form-control rounded" type="text" id="fourth"
              (keyup)="onKeyUp($event, fifthInput)" maxlength="1" ngModel name="fourth" required />
            <input #fifthInput class="m-2 text-center form-control rounded" type="text" id="fifth"
              (keyup)="onKeyUp($event, sixthInput)" maxlength="1"ngModel name="fifth" required />
            <input #sixthInput class="m-2 text-center form-control rounded" type="text" id="sixth"
              (keyup)="onKeyUp($event, null)" maxlength="1" ngModel name="sixth" required />
          </div>
          <div class="mt-4">
            <button type="submit" class="btn btn-success px-4 validate" (click)="otp()" id="btns1">Validate OTP</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  