body {
    background-color: rgb(143, 222, 143);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 408px;
    height: 312px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 128, 0, 0.5), 0px 0px 20px rgba(0, 128, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.card h6 {
    color: rgb(9, 120, 54);
    font-size: 20px;
    margin-bottom: 20px;
}

.inputs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .inputs input {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #ccc;
    position: relative;
    animation: borderShine 2s infinite;
  }
  
  @keyframes borderShine {
    0% {
      border-color: #ddd;
    }
    50% {
      border-color: #11d43b;
    }
    100% {
      border-color: #ddd;
    }
  }
  

.card-2 {
    background-color: #fff;
    padding: 10px;
    width: 260px;
    height: 60px;
    bottom: -30px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 128, 0, 0.5), 0px 0px 20px rgba(0, 128, 0, 0.3);
}

.card-2 .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-2 .content a {
    color: rgb(11, 177, 11);
    text-decoration: none;
    margin-left: 10px;
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid rgb(12, 117, 21);
}

.form-submit-btn {
  text-align: center;
}

#btns1 {
  background-color: #11d43b;
  color: #f7f1f1;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

.form-submit-btn button:hover {
  background-color: #11d43b;
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); */
}