<head>

<link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>



<h1 align="center"> Customers Data </h1>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="editCustomer" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title"> Edit Customer </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="modal-body">
            <table align="center" class="table">
                <tbody>
                <tr>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control" type="text" name="CustId" [(ngModel)]="editCust.custId" readonly />
                    </div>
                </tr>
                <tr>
                    <input type="text" name="name" [(ngModel)]="editCust.name" />
                </tr><br/>
               
                <tr>
                    <select name="gender" [(ngModel)]="editCust.gender">
                        <option value=""> Select Gender </option>
                        <option value="Male"> Male </option>
                        <option value="Female"> Female </option>
                        <option value="Other"> Other </option>
                    </select>
    
                </tr><br/>
                
                <!-- <tr>
                    <select name="country" [(ngModel)]="editCust.country">
                        <option value=""> Select Country </option>
    
                        <option value="{{country.cca3}}" *ngFor="let country of countries"> {{country.name.common}} </option>
                    </select>
    
                </tr><br/> -->
                <tr>
                    <input type="text" name="mobileNo" [(ngModel)]="editCust.mobileNo"  />
                </tr><br/>

                <tr>
                    <input type="text" name="emailId" [(ngModel)]="editCust.emailId" readonly />
                </tr><br/>
                <tr>
                    <input type="password" name="password" [(ngModel)]="editCust.password" readonly />
                </tr><br/>
                <!-- <tr>
                    <select name="deptId" [(ngModel)]="editCust.department.deptId">
                        <option value=""> Select Department </option>
    
                        <option value="{{dept.deptId}}" *ngFor="let dept of departments"> {{dept.deptName}} </option>
                    </select>
                </tr><br/> -->
    
            </tbody>
            </table>
          </div>

          <div class="modal-footer">
            <button type="button" (click)="updateCust()" class="btn btn-default" data-dismiss="modal">Update</button> &nbsp;
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>        
      </div>
    </div>    
  </div>
  


<!-- <h1 align="center"> Customers Info </h1> -->

<div class="container">
    <table class="table table-bordered table-sm table-hover table-striped text-center">
        <thead>
            <tr class="bg-info text-white">
            <th> CustId    </th>
            <th> Name     </th>
           
            <th> Gender   </th>
            <th>mobileNo</th>
            
            <!-- <th> Country  </th> -->
            <th> EmailId  </th>
            <th> Password </th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let cust of customers">

            <td> {{cust.custId}} </td>
            <td> {{cust.name | uppercase | gender:cust.gender}} </td>
          
            <td> {{cust.gender | lowercase }} </td>
           
            <td> {{cust.mobileNo}} </td>
            <td> {{cust.emailId}} </td>
            <td> {{cust.password}} </td>
            <td> <button (click)="editCustomer(cust)" class="glyphicon glyphicon-pencil"></button> </td>
            <td> <button (click)="deleteCustomer(cust)" class="glyphicon glyphicon-trash"></button> 

        </tr>
    </tbody>

    </table>

</div>

