<!-- <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("https://employeelearning.weebly.com/uploads/1/3/4/8/134843572/remotely-working-employees-1_orig.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
</style>
</head>
<body>

<div class="header">
  <a href="#default" class="logo"><img src="assets/Images/fuelLogo.png" width="40px" height="40px" style="border-radius: 50%;"></a>
  <div class="header-right">
    <a  href="#home">Home</a>
    <a (click)="contact()">Contact</a>
    <a class="active" (click)="about()">About</a>
    <a (click)="login()">Login</a>
    <a (click)="signUp()">SignUp</a>
  </div>
</div>

<div class="bg-image">
    <img src ="https://employeelearning.weebly.com/uploads/1/3/4/8/134843572/remotely-working-employees-1_orig.jpg">
</div>

<div class="bg-text">
  <h2>Fuel Buddy</h2>
  <h1 style="font-size:50px">Welcome </h1>
  
</div>
<br><br>
</body>

<app-footer></app-footer>
</html> -->


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
 .img{
  border-radius: 50%;
 }
  
}
</style>
</head>
<body>
 

<div class="header" >
  
    <div>
    <a><img 
        src="https://static.vecteezy.com/system/resources/previews/000/616/451/original/letter-p-leaf-nature-eco-green-logo-template-vector-isolated.jpg" style="border-radius: 50%;"
        width="40" height="35"  > </a>
    </div>
    <div class="header-right">
      <a  href="#home"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-home"></span> Home
      </button></a>
      <a (click)="contact()"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-phone-alt"></span> Contact
      </button></a>
      <a class="active" (click)="about()"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-info-sign"></span> About
      </button></a>
  
      <a (click)="login()"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-log-in"></span> Login
      </button></a>
  
      <a (click)="signUp()"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-thumbs-up"></span> SignUp
      </button></a>
  
    </div>
</div>


 <div class="bg-image" style="background-color: #ddd; width:100%" > 
  <!-- <img src ="https://phoenix-towing-service.com/wp-content/uploads/2019/03/Fuel-Delivery-Service.png " style="width : 100% ; "> -->
  <!-- <img src ="https://th.bing.com/th/id/R.cd43d80eb5bde1057b40f2e444919e83?rik=qMoIqZQw%2bk4nww&riu=http%3a%2f%2fwww.gofds.com%2f_assets%2fimages%2fFDS-Logo.png&ehk=CefBqEQg6ECHPjlgYNyO9wh8LMnPpoy2WMu4%2fHRx%2bEw%3d&risl=&pid=ImgRaw&r=0" style="width : 100% ; "> -->
  
  <!-- <img src ="https://myfieldworkhub.com/wp-content/uploads/2020/03/petrol-station-at-dusk-with-cars-visible-on-forecourt-and-shop-at-the-rear.jpg" style="width : 45% ; ">&nbsp;&nbsp;
  <img src ="https://stories.swns.com/wp-content/uploads/complete-and-ut-100909-1024x683.jpg" style="width : 50% ; "> -->






<div style="padding-left:200px; padding-right: 200px; background-color: #ddd; ">
  

<!-- ***************************************************************** -->



<div  class="container-fluid margin_univ">
  <div  class="row aboutDiv g-0 pt-5 pt-xl-5 pb-lg-5 px-4 px-lg-4 br20 justify-content-center">
    <div  class="crop-width banner_padding_2 d-flex flex-wrap pt-xl-5">
      <div  class="col-12 col-lg-6 position-relative" style="z-index: 10;">
        <h2>About Us</h2>
        <div  class="d-flex justify-content-center">
          <p  class="poppins300 fs-14 py-3 fs-xl-16 col-12 pe-lg-3 pt-lg-5" style="font-size: large;">We provide 24hrs roadside assistance for both Bikes &amp; Cars anytime at any  hook &amp; corner of the country to our <br> Subscribed Customers. We  provide on-demand <br>support to customers in cities like Bangalore,<br> Hyderabad, Mumbai, Pune, Delhi, Gurgaon, <br> and more.</p></div>
        </div>
        <div  class="col-12 col-lg-6 d-flex justify-content-center position-relative pb-4">
          <img  src="assets/Images/readyassist.png" class="about_img">
        </div>
      </div>
    </div>

    <img src ="assets/Images/about1.jpg" style="width : 45% ; ">&nbsp;&nbsp;
  <img src ="assets/Images/about2.jpg" style="width : 50% ; ">

<br><br>
          <div  class="row g-0 py-5 pt-xl-0 px-4 px-lg-4 br20 justify-content-center">
            <div  class="crop-width d-flex flex-wrap pt-xl-5">
              <div  class="col-12 col-lg-6 pe-md-5">
                <h2>AT YOUR SERVICE</h2>
                <p  class="poppins700 fs-30 fs-xl-40 py-1 lh-100">Roadside Assistance You can count on from the comfort of home</p>
                <img  src="assets/Images/p1.jpg" class="w-100 br20">
                <p  class="poppins300 fs-14 py-3 fs-xl-15 col-12 text-grey">  Fuelbuddy is India's leading technology backed roadside assistance and vehicle lifecycle management company, providing 24/7 real-time breakdown and on-spot repair service across 19000+ pin codes covering 700+ districts in India. Powered by a deep-tech platform and driven by a Pan-India network of more than 5000+ skilled and groomed mechanics, we ensure Reliability &amp; Quality without compromising on Speed.</p>
                <p  class="poppins300 fs-14 py-3 fs-xl-15 col-12 text-grey">Currently, we provide 24hrs roadside assistance for both Bikes &amp; Cars anytime at any nook &amp; corner of the country to our Subscribed Customers. We also provide on-demand support to customers in cities like Bangalore, Hyderabad, Mumbai, Pune, Delhi, Gurgaon, Chennai and more.</p>
              </div>
              <div  class="col-12 col-lg-6 d-flex flex-wrap">
                <div  class="col-12 text-green">
                  <p  class="py-2" style="font-weight: 900;">✓<span  class="poppins300 ps-4 text-grey">Rated 4.7 Stars in Google</span></p>
                  <p  class="py-2" style="font-weight: 900;">✓<span  class="poppins300 ps-4 text-grey">Largest network of EV trained mechanics</span></p>
                  <p  class="py-2" style="font-weight: 900;">✓<span  class="poppins300 ps-4 text-grey">250+ strong people team</span></p>
                  <p  class="py-2" style="font-weight: 900;">✓<span  class="poppins300 ps-4 text-grey">Serving the purpose through technology</span></p>
                  <p  class="py-2 pb-5" style="font-weight: 900;">✓<span  class="poppins300 ps-4 text-grey">An ISO 27001:2013 certified company</span></p>
                </div>
                <div  class="col-12 d-none d-md-inline"><img  src="assets/Images/p2.png" class="w-100 p-5">
                </div>
              </div>
            </div>
          </div>
          <div  class="row g-0 py-5 px-4 px-lg-4 checkoutDiv br20 justify-content-center bg-green">
            <div  class="crop-width d-flex flex-wrap py-xl-5 align-items-center px-lg-5">
              <div  class="col-md-4"><h2>What We Offer</h2>
                <p  class="text-white poppins400 fs-15 py-3">At  fuelbuddy, we bring the power of convenience to your fingertips. With our on-demand service, subscription options, and specialized 2w workshops, we keep you on the move, hassle-free. From emergency assistance to routine maintenance, our skilled technicians deliver prompt, reliable service, ensuring your vehicle stays in top shape. So sit back, relax, and let us handle your automotive needs with speed, expertise, and a smile. Drive with confidence, knowing that    Fuelbuddy has got you covered, every step of the way.</p></div>
                <div  class="col-12 col-md-4">
                  <div  class="col-12 py-2">
                    <div  class="m-1 m-md-2 m-lg-3 m-xxl-5 br20 pb-4 px-4 pt-0 py-5 bg-white text-center">
                      <img  src="assets/Images/p3.png" class="mx-auto p-2"><p  class="poppins700 py-4 pb-2 fs-14 fs-xl-18">On-Demand Services</p>
                      <p  class="poppins300 fs-14 text-grey pb-2">Get 24/7 Car &amp; Bike roadside assistance service across India.</p></div>
                    </div>
                    
                  </div>
                      
                          
                        </div>
                      </div>
                          
                     </div>
</div>
 </div>
</body>

<app-footer></app-footer>
</html>
