<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Animated Login From</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("https://employeelearning.weebly.com/uploads/1/3/4/8/134843572/remotely-working-employees-1_orig.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
</style>

   
  </head>

  <app-sample></app-sample>
  <body style="background-image: url('.src/assets/Images/l1.jpg');">
    <div class="bg-image">
        <img src ="assets/Images/l1.jpg" style="width : 100% ; ">
    </div>





    <section class="main">

    <div class="login_form_container">
      <div class="login_form">
        <!-- <p class="title">Welcome </p> -->
        <div class="separator"></div>
        <!-- <p class="welcome-message">Please, provide login credential to proceed and have access to all our services</p> -->


    <form class="login-form" #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
        <!-- <form class="login-form" #loginForm="ngForm" (ngSubmit)="loginSubmit()" novalidate> -->
        

        <h2>Login</h2>
        <div class="input_group">
          <i class="fa fa-user"></i>
              
                        
            <input type="text"
            placeholder="Username"
            class="input_text"
            autocomplete="off"  name="emailId"  ngModel #emailId="ngModel" required minlength="2" maxlength="40" />
            
    </div>

    <div *ngIf="emailId.errors?.['required'] && emailId.touched"> <h5 style="color: rgb(233, 240, 30);"> Please Enter EmailId </h5></div>
    <div *ngIf="emailId.errors?.['minlength'] && emailId.touched"> <h5 style="color: red;"> Please Enter Atleast 2 Characters </h5></div>


        <div class="input_group">
          <i class="fa fa-unlock-alt"></i>
         
        <input  type="password"  placeholder="Password"
        class="input_text"
        autocomplete="off" name="password" ngModel #password="ngModel" required minlength="2" maxlength="80" />
        
    </div>

    <div *ngIf="password.errors?.['required'] && password.touched"> <h5 style="color:rgb(233, 240, 30);"> Please Enter Password </h5></div>
        <div *ngIf="password.errors?.['minlength'] && password.touched"> <h5 style="color: red;"> Please Enter Atleast 2 Characters </h5></div>
   
    
   <div class="button_group" id="login_button">
        <button class="submit" [disabled]="!loginForm.valid" >
          Login
        </button>
    </div>
<br>
    Sign In With Google
    <div style="margin-left: 0%;">
<asl-google-signin-button *ngIf="!customer"></asl-google-signin-button>
</div>
<div *ngIf="customer">

</div>

    <div class="fotter">
      <a (click)="forgot()">Forgot Password ?</a>
      <a (click)="register()">SignUp</a>
    </div>

</form>

    </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script >
    $(".input_text").focus(function(){
        $(this).prev('.fa').addclass('glowIcon')
    })
    $(".input_text").focusout(function(){
        $(this).prev('.fa').removeclass('glowIcon')
    })
    </script>
  </section>
  </body>
  <div >
      <app-footer></app-footer>
    </div>
</html>