<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<style>
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("https://employeelearning.weebly.com/uploads/1/3/4/8/134843572/remotely-working-employees-1_orig.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
</style>
</head>
<body>


   
<!--   
    <a href="#customer">Services</a>
    <a (click)="fuelDelivery()">FuelDelivery</a>
    <a (click)="flatTyres()">FlatTyres</a>
    <a (click)="cart()">Cart({{cartItems.length}})</a>    
    <a (click)="logout()">Logout</a>
  </div>
</div> -->



<div class="header">
  <a href="#default" class="logo">
    <img src="assets/Images/fuelLogo.png" width="40px" height="40px" style="border-radius: 50%;">
  </a>
  <div class="header-right">
    <a  (click)="home()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-home"></span> Home
    </button></a>
    <a class="active" (click)="contact()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-phone-alt"></span> Contact
    </button></a>
    <a (click)="about()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-info-sign"></span> About
    </button></a>

    <a (click)="services()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-info-sign"></span> Services
    </button></a>

    <a (click)="fuelDelivery()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-info-sign"></span> FuelDelivery
    </button></a>

    <a (click)="flatTyres()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-info-sign"></span> FlatTyres
    </button></a>


    <a (click)="cart()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-thumbs-up"></span> Cart({{cartItems.length}})
    </button></a>

    <a (click)="logout()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-log-out"></span> Logout
    </button></a>

   

  </div>
</div>

<!-- <div class="bg-image">
    <img src ="https://employeelearning.weebly.com/uploads/1/3/4/8/134843572/remotely-working-employees-1_orig.jpg">
</div> -->

<div class="container">
  <span class="big-circle"></span>
  <img src="img/shape.png" class="square" alt="" />
  <div class="form">
    <div class="contact-info">
      <h3 class="title">Let's get in touch</h3>
      <p class="text">
        We are always here to help you.
        Please feel free to contact us.
      </p>

      <div class="info">
        <div class="information">
          <img src="assets/Images/location.png" class="icon" alt="" />
          <p>92 Cherry Drive Uniondale, NY 11553</p>
        </div>
        <div class="information">
          <img src="assets/Images/email.png" class="icon" alt="" />
          <p>sreepadivedanth456@gmail.com</p>
        </div>
        <div class="information">
          <img src="assets/Images/phone.png" class="icon" alt="" />
          <p>123-456-789</p>
        </div>
      </div>
      <div class="social-media">
        <p>Connect with us :</p>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>

      <form action="index.html" autocomplete="off">
        <h3 class="title">Contact us</h3>
        <div class="input-container">
          <input type="text" name="name" class="input" />
          <label for="">Username</label>
          <span>Username</span>
        </div>
        <div class="input-container">
          <input type="email" name="email" class="input" />
          <label for="">Email</label>
          <span>Email</span>
        </div>
        <div class="input-container">
          <input type="tel" name="phone" class="input" />
          <label for="">Phone</label>
          <span>Phone</span>
        </div>
        <div class="input-container textarea">
          <textarea name="message" class="input"></textarea>
          <label for="">Message</label>
          <span>Message</span>
        </div>
        <input type="submit" value="Send" class="btn" />
      </form>
    </div>
  </div>
</div>


<script >
  const inputs = document.querySelectorAll(".input");

     function focusFunc() {
       let parent = this.parentNode;
       parent.classList.add("focus");
     }
     
     function blurFunc() {
       let parent = this.parentNode;
       if (this.value == "") {
         parent.classList.remove("focus");
       }
     }
     
     inputs.forEach((input) => {
       input.addEventListener("focus", focusFunc);
       input.addEventListener("blur", blurFunc);
     });
     </script>




</body>
<app-footer></app-footer>
</html>
