.main-c {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#9ee44e, #e0e4d4);
    
  }
  
  .container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: shining 2s infinite;
  }
  
  @keyframes shining {
    0% {
        background-color: #fff;
    }
  
    50% {
        background-color: #e5f2ff;
    }
  
    100% {
        background-color: #fff;
    }
  }
  
  .form-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    animation: shimmer 2s infinite;
  }
  
  @keyframes shimmer {
    0% {
        background-position: -200px 0;
    }
  
    100% {
        background-position: 200px 0;
    }
  }
  
  .popmsz {
    margin-bottom: 20px;
  }
  
  .min-user-info {
    margin-bottom: 20px;
  }
  
  .user-input-box label {
    font-size: 16px;
    color: #555;
  }
  
  .user-input-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-submit-btn {
    text-align: center;
  }
  
  .form-submit-btn button {
    background-color: #11d43b;
    color: #f7f1f1;
    font-size: 20px;
    padding: 7px 12px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  
  
  .form-submit-btn button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }