<div class="main-c">
    <div class="container">
        <h1 class="form-title">Reset Password</h1>

        <!-- <form #setForm="ngForm" (ngSubmit)="pass()" > -->
        <form #setForm="ngForm" (ngSubmit)="pass()" >
            <div class="popmsz" id="popmsz"></div>
            <div class="min-user-info">
                <div class="user-input-box">
                    <label for="password">Password</label>
                    <!-- <input type="password" id="password" name="password" placeholder="Enter Password"
                        #password="ngModel" [(ngModel)]="setPass.password" required minlength="8" /> -->
                        <input type="password" id="password" name="password" placeholder="Enter Password"
                        [(ngModel)]="setPass.password" required minlength="8" />

                    <!-- <div class="errmsz">
                        <div *ngIf="password.errors?.['required'] && password.touched">
                            <h3>Please Enter Password</h3>
                        </div>
                        <div *ngIf="password.errors?.['minlength'] && password.touched">
                            <h3>Please Enter At least 8 Characters for Password</h3>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="form-submit-btn">
                <!-- <input type="submit" value="Submit"   /> -->
                <button type="submit" [disabled]="!setForm.valid" routerLink="login">Submit</button>
            </div>
        </form>
    </div>
</div>
