@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#a9ee5b,#e0e4d4);
}
.login-form{
  position: relative;
  width: 450px;
  height: auto;
  background: #f5f7f5;
  padding: 40px 35px 60px;
  box-sizing: border-box;
  border: 2px solid rgb(250, 245, 245);
  border-radius: 30px;
  box-shadow: inset 0 0 1px 0px  rgb(254, 255, 253);
}
.text{
  font-size: 30px;
  color: #0c0f0c;
  font-weight: 600;
  letter-spacing: 2px;
}
form{
  margin-top: 40px;
}
form .field{
  margin-top: 20px;
  display: flex;
}
.field .fas{
  height: 50px;
  width: 60px;
  color: #1d1b1b;
  font-size: 20px;
  line-height: 50px;
  border: 1px solid #5b5c5b;
  border-right: none;
  border-radius: 5px 0 0 5px;
  background: linear-gradient(#a8f395,#8de659);
}
.field input,form button{
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 20px;
  color: #0e0d0d;
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #444;
  caret-color: #0f140f;
  background: linear-gradient(#f2f5f2,#edf3e4);
}
input:focus{
  color: #339933;
  box-shadow: 0 0 5px rgba(0,255,0,.2),
              inset 0 0 5px rgba(0,255,0,.1);
  background: linear-gradient(#e8f1e8,#222922);
  animation: glow .8s ease-out infinite alternate;
}
@keyframes glow {
   0%{
    border-color: #339933;
    box-shadow: 0 0 5px rgba(0,255,0,.2),
                inset 0 0 5px rgba(0,0,0,.1);
  }
   100%{
    border-color: #6f6;
    box-shadow: 0 0 20px rgba(0,255,0,.6),
                inset 0 0 10px rgba(0,255,0,.4);
  }
}
button{
    
  margin-top: 30px;
  border-radius: 5px!important;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  
}
button:hover{
  color: #339933;
  border: 1px solid #339933;
  box-shadow: 0 0 5px rgba(0,255,0,.3),
              0 0 10px rgba(0,255,0,.2),
              0 0 15px rgba(0,255,0,.1),
              0 2px 0 black;
}
.link{
  margin-top: 25px;
  color: #868686;
}
.link a{
  color: #339933;
  text-decoration: none;
}
.link a:hover{
  text-decoration: underline;
}

form button{
    background: linear-gradient(#eaece7,#aae94b); 
}
.link p{
  font-size: 15px;
}
.link .register{
  font-size: 20px;
  color: #14d314;

}
.link .register:hover{
  scale:1.1;
  color: #5b8d0b;
}