<section>
    <div class="login-form">
        <form>
            <div class="field" id="popmsz">
                <button type="submit" value="Get OTP" (click)="number()">Send OTP by Phone Number</button>
            </div>
            <button type="submit" value="Get OTP" (click)="email()">Send OTP by E-Mail</button>
        </form>
    </div>
</section>

