<h1 align="center"> Shopping Cart </h1>

<div class="container" *ngIf="cartItems">
    <table class="table table-bordered table-sm table-hover table-striped text-center">
        <thead>
            <tr class="bg-info text-white">
                <th> Product Image </th>
                <th> Product Id </th>
                <th> Name </th>
                <th> Price </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fueldel of cartItems">
                <td> <img src="{{fueldel.imagePath}}" height="100px" width="100px"/> </td>
                <td> {{fueldel.id}} </td>
                <td> {{fueldel.name}} </td>
                <td> {{fueldel.price}} </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td align="right"><h1>Total</h1></td>
                <td>{{total}}</td>
            </tr>
        </tbody>
    </table>
    <button (click)="purchase()">Proceed to payment</button>  


</div>
