
<h1 align="center"> GetCustomerById </h1> <br/>

<div class="container" align="center">
<form #custForm="ngForm" (ngSubmit)="getCustomer(custForm.value)" >  
    <table>
        <tr>
            <td align="right"> Enter CustomerID: </td>
            <td align="left"> <input type="number" name="custId" ngModel /> </td>
        </tr>
        <tr>
            <td align="right">  </td>
            <td align="left"> <button> GetCustomer </button> </td>
        </tr>
    </table>    
</form>
</div>
<br/>


<div class="container" *ngIf="cust">
    <table border="2" align="center">
        <tr>
            <th> custId    </th>
            <th> Name     </th>
            
            <th> Gender   </th>
            
            <th> Country  </th>
            <th> EmailId  </th>
        </tr>

        <tr>
            <td> {{cust.custId}}   </td>
            <td> {{cust.name}} </td>
           
            <td> {{cust.gender}}  </td>
           
            <td> {{cust.country}} </td>
            <td> {{cust.emailId}} </td>
        </tr>

    </table>    
</div>

