<!-- <app-logout></app-logout> -->
<!-- <app-showcustomers></app-showcustomers> -->
<!-- <app-getcustbyid></app-getcustbyid> -->

<!-- <app-petrol></app-petrol> -->
<!-- <app-header></app-header> -->

<!-- <marquee><h1 style="color:red;"> Welcome to FUEL BUDDY </h1></marquee> -->
<!-- <app-admin></app-admin> -->


<!-- <app-register></app-register> -->


<!-- <app-login></app-login> -->


<!-- In use -->

<!-- <app-fueldel></app-fueldel> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-fueldel></app-fueldel> -->
<!-- <app-footer></app-footer> -->
<!-- <app-aboutcust></app-aboutcust> -->
<!-- <app-customer></app-customer> -->
<app-services></app-services>
<!-- <app-confirmation></app-confirmation> -->
<!-- <app-purchase></app-purchase> -->
