<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  
  <section>
    <div class="login-form">
      <form #mobForm="ngForm" (ngSubmit)="mob(mobForm.value)" novalidate>
        <div class="field" id="popmsz">
          <input type="text" name="mobileNumber" placeholder="Enter your number" ngModel required pattern="(+91)[6789][0-9]{9}" />
          <!-- <input type="text" name="mobileNumber" placeholder="Enter your number" ngModel required pattern="[6789][0-9]{9}" />   -->
     
        </div>   
        <div *ngIf="mobForm.controls['mobileNumber'].errors?.['pattern'] && (mobForm.controls['mobileNumber'].dirty || mobForm.controls['mobileNumber'].touched)" class="alert alert-danger">
          Invalid mobile number. Please enter a valid mobile number with the country code +91.
        </div>
        <button type="submit" value="Get OTP" [disabled]="!mobForm.valid">GET OTP</button>
      </form>
    </div>
  </section>
