<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("https://employeelearning.weebly.com/uploads/1/3/4/8/134843572/remotely-working-employees-1_orig.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
</style>
</head>
<body>

<div class="header">
  <a href="#default" class="logo"><img src="assets/Images/fuelLogo.png" width="40px" height="40px" style="border-radius: 50%;"></a>
  <div class="header-right">
    <a class="active" (click)="home()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-home"></span> Home
    </button></a>
    <a (click)="contact()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-phone-alt"></span> Contact
    </button></a>
    <a (click)="about()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-info-sign"></span> About
    </button></a>

    <a (click)="login()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-log-in"></span> Login
    </button></a>

    <a (click)="signUp()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-thumbs-up"></span> SignUp
    </button></a>

  </div>
</div>

<div class="bg-image">
    <img src ="https://employeelearning.weebly.com/uploads/1/3/4/8/134843572/remotely-working-employees-1_orig.jpg">
</div>

<div class="bg-text">
  <h2>Fuel Buddy</h2>
  <h1 style="font-size:50px">Welcome </h1>
  
</div>
<br><br>
</body>

<app-footer></app-footer>
</html>
