<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("https://employeelearning.weebly.com/uploads/1/3/4/8/134843572/remotely-working-employees-1_orig.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
</style>
</head>
<body>


  <div class="header">
    <a href="#default" class="logo">
      <img src="assets/Images/fuelLogo.png" width="40px" height="40px" style="border-radius: 50%;">
    </a>
    <div class="header-right">
      <a  (click)="home()"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-home"></span> Home
      </button></a>
      <a (click)="contact()"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-phone-alt"></span> Contact
      </button></a>
      <a  (click)="about()"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-info-sign"></span> About
      </button></a>
  
      <a  class="active" (click)="services()"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-wrench"></span> Services
      </button></a>
  
      <a (click)="fuelDelivery()"><button type="button" class="btn btn-default btn-sm">
        <span><i class='fas fa-gas-pump'></i></span> FuelDelivery
      </button></a>
  
      <a (click)="flatTyres()"><button type="button" class="btn btn-default btn-sm">
        <span><i class="fas fa-car-crash"></i></span> FlatTyres
      </button></a>
  
  
      <a (click)="cart()"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-shopping-cart"></span> Cart({{cartItems.length}})
      </button></a>
  
      <a (click)="logout()"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-log-out"></span> Logout
      </button></a>
  
    </div>
  </div>


  <h1>Card Flip with Text</h1>
  <h3>Hover over the image below:</h3>


  
<div class="flip-card" >
    <div class="flip-card-inner">
      <div class="flip-card-front" >
        <img src="assets/Images/bjs2.jpeg" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Battery Jump Start</h1> 
        <p>Get Jump Start </p> 
        <p>From Professionals</p>
      </div>
    </div>
  </div>

   
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="assets/Images/bjs2.jpeg" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Battery Jump Start</h1> 
        <p>Get Jump Start </p> 
        <p>From Professionals</p>
      </div>
    </div>
  </div>

   
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="assets/Images/bjs2.jpeg" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Battery Jump Start</h1> 
        <p>Get Jump Start </p> 
        <p>From Professionals</p>
      </div>
    </div>
  </div>

   
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="assets/Images/bjs2.jpeg" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Battery Jump Start</h1> 
        <p>Get Jump Start </p> 
        <p>From Professionals</p>
      </div>
    </div>
  </div>
  


<div>
<app-footer></app-footer>
</div>
</body>
</html>

