<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<style>
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("https://employeelearning.weebly.com/uploads/1/3/4/8/134843572/remotely-working-employees-1_orig.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
</style>
</head>
<body>

<div class="header">
  <a href="#default" class="logo">CompanyLogo</a>
  <div class="header-right">
    <a  href="#home">Home</a>
    <a (click)="contact()">Contact</a>
    <a (click)="about()">About</a>
    <a href="#customer">Services</a>
    <a (click)="fuelDelivery()">FuelDelivery</a>
    <a class="active" (click)="flatTyres()">FlatTyres</a>
    <a (click)="cart()">Cart</a>
    <a (click)="logout()">Logout</a>
  </div>
</div>

<div class="bg-image" style="background-image: url('https://employeelearning.weebly.com/uploads/1/3/4/8/134843572/remotely-working-employees-1_orig.jpg');">
    <!-- <img src ="https://employeelearning.weebly.com/uploads/1/3/4/8/134843572/remotely-working-employees-1_orig.jpg"> -->
</div>

<section>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-sm-4" *ngFor="let flat of flat">
            <div class="card card_three text-center">
               <h2> {{flat.name}} </h2>
              <div class="title">
                <i  aria-hidden="true"></i>
                <img src={{flat.imagePath}} alt="10001.jpg" style="width:35%; height:35%;">
              </div>
              <div class="price">
                 <h6>Price: ${{flat.price}}/-</h6>   
              </div>
              <div class="option">
                <ul>
                  <!-- <li><i class="fa fa-check" aria-hidden="true"></i>Unleaded Petrol</li> -->
                  <li><i class="fa fa-check" aria-hidden="true"></i>Qualified Agents</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i>24/7 On Spot Service</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i>Live Support</li>
                  </ul>
              </div>
              <a (click)="addToCart(flat)" class="btn btn-primary hover-effect">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- 
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let fuel of fueldel">
  
        <div class="card" style="width:300px; height: 475px;">
          <img class="card-img-top" src={{fuel.imagePath}} alt="10001.jpg" style="width:60%; height:100%;">
          <div class="card-body">
            <h4 class="card-title"> {{fuel.name}} </h4>
            <p class="card-text"> {{fuel.description}} </p>
            <h6>Price: ${{fuel.price}}/-</h6>   
            <p align="right">
            <button (click)="addToCart(fuel)" class="btn btn-primary">Add to Cart</button>
            </p>
          </div>
        </div> &nbsp;&nbsp;
      
      </div>
    </div>
  </div>
  
 -->

</body>
</html>

