* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .video {
    position: fixed;
    top: 56%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  body {
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
    background-image: url('https://nh1design.com/wp-content/uploads/2019/01/FuelBuddy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .container-cus {
    width: 100%;
    max-width: 650px;
    background: rgba(0, 0, 0, 0.5);
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
  }
  
  .form-title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
  }
  
  .main-user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  .user-input-box:nth-child(2n) {
    justify-content: end;
  }
  
  .user-input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
  }
  
  .user-input-box label {
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
  }
  
  .user-input-box input {
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
  }
  
  .form-submit-btn {
    margin-top: 40px;
  }
  
  .form-submit-btn button {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: rgba(63, 114, 76, 0.7);
    color: white;
  }
  
  .form-submit-btn button:hover {
    background: rgba(56, 204, 93, 0.7);
  }
  
  .form-btn {
    margin-top: 20px;
    text-align: center;
    color: white;
  }
  
  .form-btn a {
    cursor: pointer;
    color: cadetblue;
  }
  
  .form-btn a:hover {
    color: rgb(23, 158, 225);
  }
  
  @media (max-width: 600px) {
    .container {
      min-width: 280px;
    }
  
    .user-input-box {
      margin-bottom: 12px;
      width: 100%;
    }
  
    .user-input-box:nth-child(2n) {
      justify-content: space-between;
    }
  
    .main-user-info {
      max-height: 380px;
      overflow: auto;
    }
  
    .main-user-info::-webkit-scrollbar {
      width: 0;
    }
  }
  