<!-- <div class="registration-form"> -->

  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        
<style>
  * {box-sizing: border-box;}
  
  body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("https://employeelearning.weebly.com/uploads/1/3/4/8/134843572/remotely-working-employees-1_orig.jpg");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  </style>
</head>



<!-- <video class="video" autoplay loop muted playsinline >
  <source src="assets/Images/ang.mp4" type="video/mp4"> 
</video> -->

  <body>
<!-- <app-sample></app-sample> -->

<!--
    
<div class="header">
  <a href="#default" class="logo"><img src="assets/Images/fuelLogo.png" width="40px" height="40px" style="border-radius: 50%;"></a>
  <div class="header-right">
    <a class="active" href="#home"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-home"></span> Home
    </button></a>
    <a (click)="contact()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-phone-alt"></span> Contact
    </button></a>
    <a (click)="about()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-info-sign"></span> About
    </button></a>

    <a (click)="login()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-log-in"></span> Login
    </button></a>

    <a (click)="signUp()"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-thumbs-up"></span> SignUp
    </button></a>

  </div>
</div> -->
    <!-- style="background-image: url('https://www.wedowebapps.com/wp-content/uploads/2021/06/Introduction-100.jpg') ;background-repeat: no-repeat; " -->
    
    
  
      
  <div class="container-cus">
    <!-- <h1 align="center"> Customer Registration </h1> <br/> -->
    
    
    <form #regForm="ngForm" (ngSubmit)="register(regForm.value)">
        

        <div class="main-user-info">
          <div class="user-input-box">
            <label for="fullName">Customer Name</label>
            <input type="text" name="name" ngModel #name="ngModel" required minlength="2" maxlength="30" placeholder="Enter your name " /> 
          </div>
          
          <div class="user-input-box">
            <label for="email">Email</label>
            <input type="text" name="emailId" ngModel #emailId="ngModel"
                    required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9-.]+$"   placeholder="Enter your EmailId "/> 
          </div>


          <!-- restore************ -->
          <div class="user-input-box">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" name="mobileNo" ngModel #mobileNo="ngModel" required pattern="^[6-9]\d{9}$"  placeholder="Enter your phone Number" maxlength="10" /> 
          </div>

          <div class="user-input-box">
            <label for="password">Password</label>
            <input type="password" name="password" ngModel #password="ngModel"  required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$"  placeholder="Enter your password " /> 
          </div>

          <div class="user-input-box">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmpassword" ngModel #confirmpassword="ngModel" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$"  placeholder="Re-enter your password" /> 
          </div>
        </div>
        
        <div class="gender-details-box">
          <span class="gender-title">Gender</span>
          <div class="gender-category"  style="width: 300px;">
            <!-- <input type="radio" name="gender" id="male" [value]="'Male'" formControlName="gender" >  
            <label for="male">Male</label>
            <input type="radio" name="gender" id="female" [value]="'Female'" formControlName="gender">
            <label for="female">Female</label>
            <input type="radio" name="gender" id="other" [value]="'Other'" formControlName="gender" >
            <label for="other">Other</label> -->
  
            <select name="gender" required ngModel  style="width: 100%; height: 40px;">
              <option value=""> Select Gender </option>
              <option value="Male">   Male   </option>
              <option value="Female"> Female </option>
              <option value="Other">  Other  </option>
          </select>

          </div>
        </div><br><br>

        <div class="user-input-box">
            <ngx-recaptcha2 #captchaElem
                [siteKey]="siteKey" 
                formControlName="recaptcha">
              </ngx-recaptcha2>
        </div>
  
        <div class="form-submit-btn">
          <button [disabled]="regForm.invalid || password.value !== confirmpassword.value"> Register </button>
        </div>


        <div class="container">
            <div *ngIf="name.errors?.['required'] && name.touched">
              <h3 style="color: red;"> Please Enter Name </h3>
            </div>
            <div *ngIf="name.errors?.['minlength'] && name.touched">
              <h3 style="color: red;"> Please Enter Atleast 2 Characters </h3>
            </div>
      
           
            <div *ngIf="regForm.controls?.['mobileNo']?.errors?.['required'] && regForm.controls?.['mobileNo']?.touched" class="alert alert-danger">
                <h6>mobileNo is required</h6>
             </div>

             <div *ngIf="regForm.controls?.['mobileNo']?.errors?.['pattern'] && (regForm.controls?.['mobileNo']?.dirty || regForm.controls?.['mobileNo']?.touched)" class="alert alert-danger">
                <h6>Please enter a valid mobile number starting with 6,7,8 or 9.</h6>
             </div>

             

            <!-- <div *ngIf="regForm.controls?.['mobileNo']?.errors?.['pattern'] && (regForm.controls?.['mobileNo']?.dirty || regForm.controls?.['mobileNo']?.touched)" class="alert alert-danger">
              Please enter a valid mobile number starting with 6,7,8 or 9.
            </div> -->

            <div *ngIf="regForm.controls?.['emailId']?.errors?.['required'] && regForm.controls?.['emailId']?.touched" class="alert alert-danger">
                <h6>Email is required</h6>
             </div>
            <div *ngIf="regForm.controls?.['emailId']?.errors?.['pattern'] && regForm.controls?.['emailId']?.touched" class="alert alert-danger">
                <h6>Invalid email format</h6>
            </div>
      
            <div *ngIf="regForm.controls?.['password']?.errors?.['required'] && regForm.controls?.['password']?.touched" class="alert alert-danger">
                <h6>Password is required</h6>
              </div>
              <div *ngIf="regForm.controls?.['password']?.errors?.['pattern'] && regForm.controls?.['password']?.touched" class="alert alert-danger">
                <h6>Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character (!@#$%^&*)</h6>
              </div>

      
              <div *ngIf="regForm.controls?.['confirmpassword']?.errors?.['required'] && regForm.controls?.['confirmpassword']?.touched" class="alert alert-danger">
                <h6>Password is required</h6>
              </div>

              <div *ngIf="regForm.controls?.['confirmpassword']?.errors?.['pattern'] && regForm.controls?.['confirmpassword']?.touched" class="alert alert-danger">
                <h6>Confirm Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character (!@#$%^&*)</h6>
              </div>

              <div *ngIf="password.value !== confirmpassword.value && confirmpassword.touched" class="alert alert-danger">
                <h6>Passwords do not match</h6>
              </div>
         

             
    </div>


    </form>

    <div class="form-btn">
    Already a User ??
    
       <a (click)="login()"><span style="color: darkblue;">Login</span></a>
  </div>
     
    
    </div>

    
  </body>